.aside {
  background-color: #354052;
  margin-right: -10px;
}
.aside .main {
  padding: 2rem;
  color: #6f7b7e;
}
.aside .title {
  color: #6f7b7e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6f7b7e;
}
.aside .main .item.active {
  color: #f6f7f7;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
}
.aside .main .name {
  font-size: 16px;
  font-weight: bold;
}
.admin-panel {
  padding-bottom: 0;
}
.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}
.hero .tabs ul {
  border-bottom: 1px solid #d3d6db;
}

.down {
  position: absolute;
  bottom: 10px;
}