<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters">
    <div class="card m-2" *ngFor="let devotional of devotionals | async">
      <header class="card-header">
        <p class="card-header-title">
          {{devotional.title}}
        </p>
        <a class="card-header-icon" (click)="setDevtionalView(devotional)" aria-label="more options">
          <span class="icon is-medium has-text-info">
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
          </span>
        </a>
        <button (click)="delete(devotional.id)" class="card-header-icon" aria-label="more options">
          <span class="icon is-medium has-text-danger">
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </span>
        </button>
        <!-- <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
        </button> -->
      </header>
    </div>
    <!-- <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
    </mat-paginator> -->
  </div>
</div>
