<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters">
    <mat-card *ngFor="let devotional of devotionals | async">{{devotional.title}}</mat-card>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Card header
        </p>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon is-medium has-text-info">
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
          </span>
        </button>
        <button class="card-header-icon" aria-label="more options">
          <span class="icon is-medium has-text-danger">
            <fa-icon [icon]="faMinusCircle"></fa-icon>
          </span>
        </button>
        <!-- <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="far fa-edit"></i>
          </span>
        </button> -->
      </header>
    </div>

    <!-- <mat-paginator [length]="100"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
    </mat-paginator> -->
  </div>
</div>
